<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.qf.mapper.LoginMapper">
    <select id="getPasswordFromStudent" resultType="string" parameterType="string">
        select password from student where username=#{username}
    </select>
    <select id="getPasswordFromTeacher" parameterType="string" resultType="string">
        select password from teacher where username=#{username}
    </select>

    <select id="getPasswordFromAdviser" parameterType="string" resultType="string">
         select password from adviser where username=#{username}
    </select>

    <select id="getPasswordFromLeader" parameterType="string" resultType="string">
            select password from leader where username=#{username}
    </select>

    <select id="getPasswordFromSysAdmin" parameterType="string" resultType="string">
            select password from sys_admin where username=#{username}
    </select>


    <select id="getSid" parameterType="string" resultType="int">
            select sid from student where username=#{username}

    </select>

    <select id="getTid" parameterType="string" resultType="int">
            select tid from teacher where username=#{username}

    </select>

    <select id="getAid" parameterType="string" resultType="int">
            select aid from adviser where username=#{username}

    </select>

    <select id="getLid" parameterType="string" resultType="int">
            select lid from leader where username=#{username}

    </select>

    <select id="getYid" parameterType="string" resultType="int">
            select yid from sys_admin where username=#{username}

    </select>


</mapper>